:root {
    --colorPrimary: rgb(20, 131, 96);
    --colorPrimaryLight: rgb(20, 131, 96, 0.08);
}

::selection { background-color: var(--colorPrimaryLight); }

body {
    margin: 0;
    width: 350px;

    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;

    overflow-x: hidden;
}

/* #region header */
header {
    width: 100%;
    height: 140px;
    padding: 0px;

    border-bottom: 5px solid var(--colorPrimary);

    background-color: var(--colorPrimaryLight);
}

div.header-content {
    margin: auto;

    text-align: center;
}

div.header-content p {
    color: var(--colorPrimary);

    font-weight: 300;
    font-size: 12px;
}

h1 {
    margin: auto;

    font-weight: 300;
}

h1 > span {
    color:  var(--colorPrimary);

    font-weight: 700;
}

img {
    margin: auto;
    width: 60px;
}
/* #endregion */

main { padding: 0px 20px; }

/* #region todo */
div.todo-container { position: relative; }

div.todo-header {
    display: flex;

    position: absolute;
    top: 20px;
}

input:focus { outline: none; }

input[type="text"] {
    width: 268px;
    padding: 8px 10px;
    margin-right: 5px;

    border: 1px solid var(--colorPrimaryLight);
    border-radius: 20px;
    box-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.3);

    color: var(--colorPrimary);

    box-sizing: border-box;
}

input[type="submit"] {
    width: 33px;
    height: 33px;

    border: 1px solid var(--colorPrimary);
    border-radius: 20px;
    box-shadow: 0px 1.5px 1px rgba(0, 0, 0, 0.3);

    background-color: var(--colorPrimary);
    color: white;

    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.5s;
}

input[type="submit"]:hover { background-color: rgba(20, 131, 96, 0.774); }

div.todo-body {
    width: 100%;
    position: absolute;
    top: 70px;
    left: 50%;

    transform: translateX(-50%);
}

ul.todo-list {
    position: relative;
    padding: 0;
    min-height: 78px;

    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    box-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.3);

    list-style-type: none;
    overflow: hidden;
}

ul.todo-list > li {
    display: flex;

    position: relative;
    padding: 0px 10px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    animation-name: fadeIn;
    animation-duration: 0.5s;
}

li > p {
    flex: 30;
    padding-right: 15px;

    font-weight: 400;
}

li > i {
    flex: 1;

    position: absolute;
    right: 10px;
    top: 50%;
    
    color: rgba(0, 0, 0, 0.1);

    font-size: 20px;

    cursor: pointer;
    transform: translateY(-50%);

    transition-property: color;
    transition-duration: 0.3s;
}

li > i:hover { color: rgba(255, 0, 0, 0.418); }

@keyframes fadeIn {
    from {
        margin-left: -10%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

div.noticePanel {
    position: absolute;
    top: 25%;
}

div.noticePanel {
    width: 100%;

    color: rgba(50, 50, 50, 0.5);

    text-align: center;
    font-weight: 300;
}
/* #endregion */

div.count {
    padding: 0 10px;
    margin-top: 20px;

    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 1px;

    color: rgba(0, 0, 0, 0.5);

    text-align: center;

    box-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar { width: 0px; }